################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/APV.Service/obj
/APV.Service/.vs
/.vs/OtterSpace/v17
/.vs
/APV.Service/bin/Debug/net6.0
/APV.Console/bin/Debug/net6.0
/APV.Console/obj
