################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/APV.Service/obj
/APV.Service/.vs
/.vs/OtterSpace/v17
/.vs
/APV.Service/bin/Debug/net6.0
/APV.Console/bin/Debug/net6.0
/APV.Console/obj
/APV.Service.Tests/bin/Debug/net7.0
/APV.Service.Tests/obj
/APV.Service.Tests.Integration/bin/Debug/net7.0
/APV.Service.Tests.Integration/obj
/APV.Service.Tests.Unit/bin/Debug/net7.0
/APV.Service.Tests.Unit/obj
/packages
/APV.Service.Tests.Unit/bin/Debug
/APV.Service/bin/Debug/net7.0
/APV.Console.Tests.UI/bin/Debug/net7.0
/APV.Console.Tests.UI/obj
/APV.Console.Tests.Integration/bin/Debug/net7.0
/APV.Console.Tests.Integration/obj
