@page
@model ConfigurationModel
@{
    ViewData["Title"] = "Configure your lovely home!";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Configure your lovely home with APV</a></p>
    <img src="./plan.jpg">
</div>
