@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
         Configure your lovely home with APV!
    </p>
    <img src="./plan.jpg">
</div>
