@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>

        <button onclick="window.location.href='Configuration'">
            Configure your lovely home with APV!
        </button>
    </p>
    <img src="./plan.jpg">
</div>
