@page
@model APV.Console.Pages.SensorHistoryModel
@{
    <div id="historyEntries">
    @foreach(var entry in Model._entries)
    {
        <li> @entry.Temperature was registered on @entry.RegisteredOn
        </li>
    }
    </div>
}
